@import url('https://fonts.googleapis.com/css?family=Gugi');

#topic{
  position: absolute;
  top:0;
  right:0;
  z-index: 1000;
  color:white;
  font-family:  'Gugi', cursive;
  width: 380px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#EF7100;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:#FEC400;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.control-panel {
  color:white;
  font-family: 'Gugi', cursive;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 1;
  margin-right: 10px;
  margin-bottom: 25px;
  z-index: 1000;
  width: 180px;
  max-height: 515px;
  /*overflow-y: auto;*/
  /*border-top: 3px solid #74ba18;
  border-bottom: 3px solid #74ba18;
  background-color: #f8f8f8;*/
  border-radius: 8px;
}

.control-panel select {
  margin-bottom: 1rem;
}

#exporter{
  background: #FEC400;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  border: 3px solid #EF7100;
  float: left;
  margin: 0 10px;
}

#importer{
  background: #BBD33C;
  width: 4.5px;
  height: 4.5px;
  border-radius: 4.5px;
  border: 2px solid #74BA18;
  float: left;
  margin: 0 15px;
}

#level1{
  background-color: rgb(116, 186, 24);
  height: 1px;
  width: 50px;
  float: left;
  margin:10px 5px;
}

#level2{
  background-color: rgb(116, 186, 24);
  height: 4px;
  width: 50px;
  float: left;
  margin:10px 5px;
}

#level3{
  background-color: rgb(116, 186, 24);
  height: 8px;
  width: 50px;
  float: left;
  margin:10px 5px;
}

#level4{
  background-color: rgb(116, 186, 24);
  height: 12px;
  width: 50px;
  float: left;
  margin:10px 5px;
}

#level5{
  background-color: rgb(116, 186, 24);
  height: 16px;
  width: 50px;
  float: left;
  margin:10px 5px;
}

@media (max-width: 550px),
(max-height: 550px) {
  .control-panel {
    max-height: 200px;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .control-panel h2 {
    font-size: 2.4rem !important;
  }
}

@media (max-width: 550px) {
  .control-panel {
    max-width: 100%;
    width: 100%;
  }
}
